repos:
- repo: https://github.com/MarcoGorelli/cython-lint
  rev: v0.16.2
  hooks:
  - id: cython-lint
  - id: double-quote-cython-strings

- repo: local
  hooks:
    - id: unnecessary_doctest_directives
      name: Check for redundant doctest directives
      description:
        "Check for inline doctest directives that are specified globally through pyproject.toml"
      types: [python]
      entry: >
        (?x)(
          \+IGNORE_EXCEPTION_DETAIL|
          \+NORMALIZE_WHITESPACE
        )
      language: pygrep

- repo: https://github.com/psf/black
  rev: 24.4.0
  hooks:
  - id: black
    name: black
    description: "Black: The uncompromising Python code formatter"
    entry: black
    language: python
    language_version: python3
    minimum_pre_commit_version: 2.9.2
    require_serial: true
    types_or: [python, pyi]
  - id: black-jupyter
    name: black-jupyter
    description:
      "Black: The uncompromising Python code formatter (with Jupyter Notebook support)"
    entry: black
    language: python
    minimum_pre_commit_version: 2.9.2
    require_serial: true
    types_or: [python, pyi, jupyter]
    additional_dependencies: [".[jupyter]"]

- repo: https://github.com/keewis/blackdoc
  rev: v0.3.9
  hooks:
  - id: blackdoc
    description: "Black for doctests"
    additional_dependencies: ["black==24.4.0"]
  - id: blackdoc-autoupdate-black


- repo: https://github.com/pycqa/flake8
  rev: 7.0.0
  hooks:
  - id: flake8
    additional_dependencies:
    - flake8-bugbear!=24.4.21
    - flake8-comprehensions
    - flake8-simplify

- repo: https://github.com/nbQA-dev/nbQA
  rev: 1.8.5
  hooks:
    - id: nbqa-pyupgrade
      args: ["--py310-plus"]
    - id: nbqa-isort
    - id: nbqa-flake8
      args: ["--extend-ignore=E402"]
      exclude: |
          (?x)^(
              notebooks/tutorials/making_components/making_components.ipynb
          )

- repo: https://github.com/kynan/nbstripout
  rev: 0.7.1
  hooks:
    - id: nbstripout
      description: Strip output from jupyter notebooks
      args: [--drop-empty-cells]

- repo: https://github.com/asottile/pyupgrade
  rev: v3.15.2
  hooks:
  - id: pyupgrade
    args: [--py310-plus]

- repo: https://github.com/PyCQA/isort
  rev: 5.13.2
  hooks:
  - id: isort
    name: isort (python)
    args: [--force-single-line-imports]
    types: [python]
  - id: isort
    name: isort (cython)
    args: [--force-single-line-imports]
    types: [cython]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
    - id: check-builtin-literals
    - id: check-added-large-files
    - id: check-case-conflict
    - id: check-toml
    - id: check-yaml
    - id: debug-statements
    - id: end-of-file-fixer
    - id: forbid-new-submodules
    - id: mixed-line-ending
    - id: trailing-whitespace

- repo: https://github.com/regebro/pyroma
  rev: "4.2"
  hooks:
  - id: pyroma
    args: ["-d", "--min=10", "."]
    additional_dependencies:
    - "numpy<2"
    - cython

# - repo: https://github.com/mgedmin/check-manifest
#   rev: "0.49"
#   hooks:
#   - id: check-manifest
#     args: ["--ignore=.nox,build", "--no-build-isolation"]
#     additional_dependencies:
#     - numpy
#     - cython~=3.0.0b3

# - repo: https://github.com/PyCQA/pydocstyle
#   rev: 6.1.1
#   hooks:
#   - id: pydocstyle
#     files: landlab/.*\.py$
#     args:
#     - --convention=numpy
#     - --add-select=D417
#     additional_dependencies: [".[toml]"]

# - repo: https://github.com/pre-commit/mirrors-mypy
#   rev: v0.982
#   hooks:
#   - id: mypy
#     additional_dependencies: [types-all]
