env:
  matrix:
  - TRAVIS_PYTHON_VERSION="2.7" BUILD_DOCS=0 REPORT_TO_COVERALLS=0 DEPLOY=0
  - TRAVIS_PYTHON_VERSION="3.6" BUILD_DOCS=0 REPORT_TO_COVERALLS=0 DEPLOY=0
  - TRAVIS_PYTHON_VERSION="3.7" BUILD_DOCS=0 REPORT_TO_COVERALLS=0 DEPLOY=0
  global:
  - MPLBACKEND=Agg
  - CONDA_PREFIX=$HOME/miniconda
  - MINICONDA_URL_BASE="https://repo.continuum.io/miniconda/Miniconda3-latest"
  - secure: wuv2O1M29pkfAjPbOK1MetIf3teDrG4VTepDOps2YFLMzcoJBlJeTqEneVcHb/q2dz5SefjxQQrbLjgZNOURiS1IT2z24srNDPbp8OAsv9nsqAGZO40eWecCRa+u+P+Wh0pZ8urz/ptTir0qFIQ/yz5hoEPx4ScktHkn23V+/fM=
  - secure: v5tsP1Ji+Nrf+u6yEzDzSnADkFn8mAiMaHRyHG+4kFSaU1q5TthBoc6pdCHLG+fafkN5EGZD8B/sJlg1GgvKpsvs8MA+lxpKtLfABPf/bv3NntfvtoMEjJUqYxooYha8JDP9ODJh54zwbxPmtMRfevkOUYELQ9aFd8bWjsuOG9c=
os:
- linux
- osx
osx_image: xcode6.4
sudo: false
filter_secrets: false
before_install:
- |
  if [[ $TRAVIS_OS_NAME == "osx" ]]; then
    brew remove --force $(brew list)
    brew cleanup -s
    rm -rf $(brew --cache)
  fi
- |
  if [[ "$TRAVIS_PYTHON_VERSION" == "3.6" && "$TRAVIS_OS_NAME" == "linux" && "$TRAVIS_EVENT_TYPE" == "push" ]]; then
    REPORT_TO_COVERALLS=1
  fi
- |
  if [[ "$TRAVIS_PYTHON_VERSION" == "3.6" && "$TRAVIS_OS_NAME" == "linux" ]]; then
    BUILD_DOCS=1
  fi
- |
  if [[ "$TRAVIS_TAG" == v* ]]; then
    DEPLOY=1
  fi
- |
  mkdir -p $HOME/.matplotlib
  echo "backend: Agg" > $HOME/.matplotlib/matplotlibrc
install:
- echo "Build on $TRAVIS_OS_NAME for Python $TRAVIS_PYTHON_VERSION, $TRAVIS_TAG"
- |
  if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
    OS="MacOSX-x86_64"
  else
    OS="Linux-x86_64"
  fi
- curl $MINICONDA_URL_BASE-$OS.sh > $HOME/minconda.sh
- bash $HOME/minconda.sh -b -p $CONDA_PREFIX
- export PATH="$CONDA_PREFIX/bin:$PATH"
- hash -r
- conda config --set always_yes yes --set changeps1 no
- conda create -n _testing python=$TRAVIS_PYTHON_VERSION
- source activate _testing
- conda install -q conda-build=3.0 anaconda-client coverage coveralls sphinx pytest pytest-cov flake8
- conda info -a && conda list
script:
- conda install --file=requirements.txt
- python setup.py develop
- pytest --cov --cov-report=xml:$(pwd)/coverage.xml
- make lint
- |
  if [[ "$REPORT_TO_COVERALLS" == "1" ]]; then
    coveralls
  fi
- |
  if [[ "$BUILD_DOCS" == "1" ]]; then
    (cd docs && make html)
  fi
- |
  if [[ "$DEPLOY" == "1" ]]; then
    conda build -q .conda-recipe --old-build-string --no-test
  fi
virtualenv:
  system_site_packages: false
after_success:
- |
  if [[ "$DEPLOY" == "1" ]]; then
    LANDLAB_PACKAGE=$(conda build --output ./.conda-recipe --old-build-string)
    anaconda -t $ANACONDA_TOKEN upload --force --user landlab --channel main $LANDLAB_PACKAGE
    bash .ci/travis/deploy_to_pypi.sh
  fi
# deploy:
#   provider: pypi
#   user: mcflugen
#   password:
#     secure: V15DceMv4DUmjgxToaxrP3KaQxsLbfrTkB1s6D8YNQZvYJiVvNlBpC1nF8yWbOt3IWJQSGjaQEnObd2ZhHe2Kq/H+QsEFyBKlYF7SNp35FyS5zLuf2qhnNhmzhqkspwBpiGe88c1PQPFzfqdIUQXp7ZAv6L8YRvNy2sbzvgxh6I=
#   on:
#     tags: true
#     branch: release
#     repo: landlab/landlab
#   distributions: sdist bdist_wheel
notifications:
  slack:
    secure: gRKbqjPgp0ZcFtecHOwjLAFbzzBr2zyFrxk7OAS/cea/9U8bLQNA0jZs3ZHtAgR53gdnFlx/GI10d/KD9XMKU55gQkO4FSvfYMK7Xzs2tfnEa5flTqQKRfjB1oJ2fmb81yshUe+xKsXBoedP7SPYv2mutMOY8srKwUcuE0yGmAw=
