language: generic
os:
- linux
- osx
env:
  matrix:
  - CONDA_ENV=3.7
  - CONDA_ENV=3.6
  - CONDA_ENV=2.7
  global:
  - MPLBACKEND=Agg
sudo: false
jobs:
  include:
  - stage: lint
    os: linux
    script:
    - pip install flake8
    - make lint
  - stage: docs
    os: linux
    install:
    - conda env create --file docs/environment.yml
    - conda activate landlab_docs
    script:
    - make -C docs clean html
  - stage: deploy
    if: tag =~ v.*$
    script: skip
    os: linux
    deploy:
      on:
        all_branches: true
      provider: pypi
      user: landlab
      password:
        secure: mu6PQeSsPAzHfiPDn9P9yDnnekeAQdXXGjPFhReKbd/fvpiNjop678RUIIXIC9uw6K5bfX27NquR+pl5B0XR0bNoiHK7dEAmtb4JP6Z56XTWq6znfDThXRH9QPCELyMArpUh3wZPd6EUiIyFJV2IwSt/60yf48/H/VbttdsduF4=
before_install:
- |
  if [[ $TRAVIS_OS_NAME == "osx" ]]; then
    brew remove --force $(brew list)
    brew cleanup -s
    rm -rf $(brew --cache)
  fi
- |
  mkdir -p $HOME/.matplotlib
  echo "backend: Agg" > $HOME/.matplotlib/matplotlibrc
- |
  if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
    curl https://repo.continuum.io/miniconda/Miniconda3-latest-MacOSX-x86_64.sh > $HOME/miniconda.sh
  else
    curl https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh > $HOME/miniconda.sh
  fi
- bash $HOME/miniconda.sh -b -p $HOME/anaconda
- export PATH="$HOME/anaconda/bin:$PATH"
- hash -r
- conda config --set always_yes yes --set changeps1 no
- conda create -n test_env python=$CONDA_ENV
- source activate test_env
install:
- pip install numpy
- pip install -e .
script:
- pip install pytest pytest-cov
- pytest --cov=landlab --cov-report=xml:$(pwd)/coverage.xml -vvv
after_success: coveralls
