env:
  matrix:
  - TRAVIS_PYTHON_VERSION="2.7" NUMPY_VERSION="1.10" BUILD_DOCS=0 COVERALLS=0
  - TRAVIS_PYTHON_VERSION="2.7" NUMPY_VERSION="1.11" BUILD_DOCS=1 COVERALLS=1
  - TRAVIS_PYTHON_VERSION="3.5" NUMPY_VERSION="1.10" BUILD_DOCS=0 COVERALLS=0
  - TRAVIS_PYTHON_VERSION="3.5" NUMPY_VERSION="1.11" BUILD_DOCS=0 COVERALLS=0
  - TRAVIS_PYTHON_VERSION="3.6" NUMPY_VERSION="1.11" BUILD_DOCS=0 COVERALLS=0
  global:
  - CONDA_PREFIX=$HOME/miniconda
  - MINICONDA_URL_BASE="https://repo.continuum.io/miniconda/Miniconda3-latest"
  # - secure: UxPkdFKl0xtk+H+98CNHSnYN8SJrEq5xJjLtPUPR+5UF5lLKL7godwrOdYeO0B0fXPi2Plw0vtoIID6H1AV4x+8QD/AgAizoWIh8KLim3E7rDX0v0M3WnUHctvYwt76mGCYvIGH6qR2Ziml37Ec6nz2aTuz0oex27P6dq0BKkXs=
  # - secure: OFyhYR18rMC/MlyG1J8+cRkHWlkn/BOkQP6IM+ZBILG/t33ipoyTjH2qpNJi5Rx3wMCXBn00XnPExf7mqRBAAzSULyt6t6eDbXgInYOCSOQMMZlJ66CdmsD8dKBwDVbcFuGz06amYrIc/22guFP+6GfhsCepHvocrR93A93whug=
  - secure: wuv2O1M29pkfAjPbOK1MetIf3teDrG4VTepDOps2YFLMzcoJBlJeTqEneVcHb/q2dz5SefjxQQrbLjgZNOURiS1IT2z24srNDPbp8OAsv9nsqAGZO40eWecCRa+u+P+Wh0pZ8urz/ptTir0qFIQ/yz5hoEPx4ScktHkn23V+/fM=
os:
- linux
- osx
sudo: false
before_install:
- |
  if [[ $TRAVIS_OS_NAME == "osx" ]]; then
    brew remove --force $(brew list)
    brew cleanup -s
    rm -rf $(brew --cache)
  fi
install:
- echo "Build on $TRAVIS_OS_NAME for Python $TRAVIS_PYTHON_VERSION, $TRAVIS_TAG"
- |
  if [[ "$TRAVIS_TAG" == v* ]]; then
    export BUILD_STR=""
  else
    export BUILD_STR="dev"
  fi
- |
  if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
    OS="MacOSX-x86_64"
  else
    OS="Linux-x86_64"
  fi
- curl $MINICONDA_URL_BASE-$OS.sh > $HOME/minconda.sh
- bash $HOME/minconda.sh -b -p $CONDA_PREFIX
- export PATH="$CONDA_PREFIX/bin:$PATH"
- hash -r
- conda config --set always_yes yes --set changeps1 no
- conda install python=$TRAVIS_PYTHON_VERSION
- conda install -q conda-build anaconda-client coverage sphinx
- pip install coveralls
- conda info -a && conda list
script:
- conda build -q .conda-recipe --old-build-string --numpy=$NUMPY_VERSION
- conda install -q landlab --use-local
- |
  if [[ "$BUILD_DOCS" == "1" ]]; then
    (cd docs && make html 2> /dev/null)
  fi
- bash .ci/travis/run_travis_test.sh
virtualenv:
  system_site_packages: false
after_success:
- bash .ci/travis/deploy_to_pypi.sh
- bash .ci/travis/deploy_to_anaconda.sh
- if [[ "$COVERALLS" == "1" ]]; then coveralls; fi
deploy:
  provider: pypi
  user: mcflugen
  password:
    secure: V15DceMv4DUmjgxToaxrP3KaQxsLbfrTkB1s6D8YNQZvYJiVvNlBpC1nF8yWbOt3IWJQSGjaQEnObd2ZhHe2Kq/H+QsEFyBKlYF7SNp35FyS5zLuf2qhnNhmzhqkspwBpiGe88c1PQPFzfqdIUQXp7ZAv6L8YRvNy2sbzvgxh6I=
  on:
    tags: true
    branch: release
    repo: landlab/landlab
  distributions: sdist bdist_wheel
notifications:
  slack:
    secure: gRKbqjPgp0ZcFtecHOwjLAFbzzBr2zyFrxk7OAS/cea/9U8bLQNA0jZs3ZHtAgR53gdnFlx/GI10d/KD9XMKU55gQkO4FSvfYMK7Xzs2tfnEa5flTqQKRfjB1oJ2fmb81yshUe+xKsXBoedP7SPYv2mutMOY8srKwUcuE0yGmAw=
