language: python
python:
  - "2.6"
  - "2.7"

os:
  - linux

install:
  - echo "Build on $TRAVIS_OS_NAME for Python $TRAVIS_PYTHON_VERSION"
  - bash .travis/install_python.sh
  - export PATH="$HOME/miniconda/bin:$PATH"
  - source activate test-env
  - pip install coveralls
  - if [[ "$TRAVIS_PYTHON_VERSION" == 3.* ]]; then
      bash .travis/convert_to_python_3.sh;
    fi
  - python setup.py install

script: 
  - bash .travis/run_travis_test.sh

virtualenv:
  system_site_packages: false

after_success:
  coveralls
