include .credits.toml
include .mailmap
include AUTHORS.rst
include CHANGES.rst
include FUNDING.rst
include LICENSE.rst
include README.rst
include USEDBY.rst
include CITATION.cff
include requirements*
include noxfile.py
include notebooks.py

recursive-include docs *.txt
recursive-include landlab *.pyx *.pxd *.hpp
recursive-include landlab README.md
recursive-include landlab/data *
recursive-include requirements *.md *.txt
recursive-include tests *py
recursive-include tests *.asc
recursive-include tests *.dbf
recursive-include tests *.nc
recursive-include tests *.shp
recursive-include tests *.shx
recursive-include tests *.txt
recursive-include tests *.yaml
recursive-include tests *.pyx *.pxd *.hpp

exclude .readthedocs.yaml
exclude conftest.py
exclude CONTRIBUTING.md
exclude environment*yml
exclude .pre-commit-config.yaml

recursive-exclude docs *
recursive-exclude joss *
recursive-exclude news *
recursive-exclude notebooks *
recursive-exclude scripts *py
recursive-exclude scripts *sh
recursive-exclude landlab *.c *.cpp
recursive-exclude tests *.c *.cpp

prune */__pycache__
global-exclude *.so *.pyc *.pyo *.pyd *.swp *.bak *~
