# Requirements extracted from pyproject.toml
# [project.optional-dependencies] testing
coveralls
flaky
hypothesis
pytest
pytest-benchmark
pytest-cov
pytest-datadir
pytest-xdist
git+https://github.com/mcflugen/nbmake.git@v1.5.4-markers
