bmi-topography
bmipy
importlib-resources
matplotlib
netcdf4
numpy >= 1.20
pandas
py-richdem
pyshp != 2.3.0
pyyaml
requireit
rich-click
scikit-image
scipy
seaborn
spyder >= 6
statsmodels
xarray >= 0.16
