# Requirements extracted from pyproject.toml
# [project.optional-dependencies] docs
entrypoints
ipython
jupyter_client
nbformat
nbsphinx>=0.2.12
pandoc
sphinx>=4
sphinx_rtd_theme
sphinxcontrib_github_alt
tabulate
tornado