name: Documentation

on: [push, pull_request]

jobs:
    build:
        name: Build documentation
        # We want to run on external PRs, but not on our own internal PRs as they'll be run
        # by the push to the branch. Without this if check, checks are duplicated since
        # internal PRs match both the push and pull_request events.
        if:
          github.event_name == 'push' || github.event.pull_request.head.repo.full_name !=
          github.repository

        runs-on: ubuntu-latest

        defaults:
          run:
            shell: bash -l {0}

        steps:
          - uses: actions/checkout@v3
          - uses: conda-incubator/setup-miniconda@v2
            with:
              auto-update-conda: true
              python-version: 3.11
              channels: conda-forge
              channel-priority: true

          - name: Show conda installation info
            run: |
              conda install mamba
              conda info

          - name: Install dependencies
            run: pip install nox

          - name: Build documentation
            run: nox -s build-docs
