name: Notebooks

on: [push, pull_request]

# on:
#   push:
#       paths:
#           - "landlab/**"
#           - "notebooks/**"
#   pull_request:
#       paths:
#           - "landlab/**"
#           - "notebooks/**"

jobs:
  build-and-test:
    name: Check notebooks
    # We want to run on external PRs, but not on our own internal PRs as they'll be run
    # by the push to the branch. Without this if check, checks are duplicated since
    # internal PRs match both the push and pull_request events.
    if:
      github.event_name == 'push' || github.event.pull_request.head.repo.full_name !=
      github.repository

    runs-on: ${{ matrix.os }}

    defaults:
      run:
        shell: bash -l {0}

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [3.7, 3.8, 3.9]

    steps:
      - uses: actions/checkout@v2

      - uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          python-version: ${{ matrix.python-version }}
          channels: conda-forge
          channel-priority: true

      - name: Show conda installation info
        run: |
          conda info
          conda list

      - name: Install requirements
        run: |
          conda install mamba
          mamba install --file=requirements.txt
          mamba list

      - name: Build and install package
        run: |
          pip install -e .

      - name: Install testing dependencies
        run: |
          pip install -r requirements-testing.txt
          pip install -r requirements-notebooks.txt

      - name: Test jupyter notebooks a clean
        run: python notebooks/run_notebook_checks.py notebooks

      - name: Test jupyter notebooks
        run: |
          python -c 'import landlab; print(landlab.__version__)'
          pytest notebooks --run-notebook -vvv
