name: Test

on: [push, pull_request]

# on:
#   push:
#       paths:
#           - "landlab/**"
#           - "tests/**"
#   pull_request:
#       paths:
#           - "landlab/**"
#           - "tests/**"

jobs:
  build-and-test:
    name: Run the tests
    # We want to run on external PRs, but not on our own internal PRs as they'll be run
    # by the push to the branch. Without this if check, checks are duplicated since
    # internal PRs match both the push and pull_request events.
    if:
      github.event_name == 'push' || github.event.pull_request.head.repo.full_name !=
      github.repository

    runs-on: ${{ matrix.os }}

    defaults:
      run:
        shell: bash -l {0}

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.9", "3.10", "3.11"]
        pytest-marker: ["slow", "not slow"]

    steps:
      - uses: actions/checkout@v3

      - uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          python-version: ${{ matrix.python-version }}
          channels: conda-forge
          channel-priority: true

      - name: Show conda installation info
        run: |
          conda install mamba
          pip install nox
          conda info
          conda list

      - name: Install and test richdem engine
        run: |
          mamba install richdem -c conda-forge
          python -c 'import _richdem'

      - name: Test
        env:
          HYPOTHESIS_PROFILE: "ci"
        run: |
          nox -s test -- -m "${{ matrix.pytest-marker }}"

      - name: Coveralls
        if: matrix.os == 'ubuntu-latest'
        uses: AndreMiras/coveralls-python-action@develop
        with:
          parallel: true
          flag-name: py${{ matrix.python-version }}-${{ matrix.os }}-${{ matrix.pytest-marker }}
          debug: true

  coveralls_finish:
    needs: build-and-test
    runs-on: ubuntu-latest
    steps:
      - name: Coveralls Finished
        uses: AndreMiras/coveralls-python-action@develop
        with:
          parallel-finished: true
          debug: true
