name: Test TerrainBento

on: [push, pull_request]

jobs:
  build-and-test:
    # We want to run on external PRs, but not on our own internal PRs as they'll be run
    # by the push to the branch. Without this if check, checks are duplicated since
    # internal PRs match both the push and pull_request events.
    if:
      github.event_name == 'push' || github.event.pull_request.head.repo.full_name !=
      github.repository

    runs-on: ${{ matrix.os }}

    defaults:
      run:
        shell: bash -l {0}

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [3.7, 3.8, 3.9]

    steps:
      - uses: actions/checkout@v2

      - name: Checkout dependent
        uses: actions/checkout@v2
        with:
          repository: 'TerrainBento/terrainbento'
          ref: 'v2.0.0'
          path: 'terrainbento'
      
      - uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          python-version: ${{ matrix.python-version }}
          channels: conda-forge
          channel-priority: true
      
      - name: Show conda installation info
        run: |
          conda info
          conda list
      
      - name: Install landlab requirements
        run: |
          conda install mamba
          mamba install --file=requirements.txt
          mamba list
      
      - name: Build and install landlab
        run: |
          pip install -e .
      
      - name: Install testing dependencies
        run: mamba install --file=requirements-testing.txt
      
      - name: Install and test dependent
        run: |
          cd terrainbento
          pip install -e .
          pytest .
